{{ $curPage := . }}
{{ $curPage.Scratch.Set "lnfpNextPage" nil }}
{{ $curPage.Scratch.Set "lnfpFoundPage" false }}
{{ $curPage.Scratch.Set "lnfpCurPage" . }}
{{ if .Parent }}
  <!-- If we were a data page (sibling) -->
  <!-- We had no more sibling data pages (hence no .PrevInSection) -->
  {{ if .IsPage }}
    {{ if (where .Parent.Sections ".Params.notinmenu" "ne" true) }}
      <!-- if there are sibling sections -->
      {{ range (first 1 (where .Parent.Sections ".Params.notinmenu" "ne" true ) ) }}
        <!-- start with the first sibling section -->
        <a href="{{ .RelPermalink}}">Next</a>
      {{ end }}
    {{ else }}
      <!-- no sibling sections so check parent -->
      {{ .Parent.Scratch.Set "lnfpCurPage" .Parent }}
      {{ partial "sidebar/local-nav/generate/findnextsectionleaf" .Parent }}
    {{ end }}
  {{ else }}
    <!-- we are a section so we need find first sub-page (if exists)
    or next sub-section -->
    {{ if (where .Data.Pages ".Params.notinmenu" "ne" true ) }}
      {{ range (first 1 (where .Data.Pages ".Params.notinmenu" "ne" true) ) }}
      <a href="{{ .RelPermalink }}">Next</a>
      {{ end }}
     {{ else if (where .Sections ".Params.notinmenu" "ne" true ) }}
       {{ range (first 1 ( where .Sections ".Params.notinmenu" "ne" true ) ) }}
         <a href="{{ .RelPermalink }}">Next</a>
        {{ end }}
     {{ else }}
       <!-- find next sibling section  or whether we're a leaf section -->
       {{ range (last 1 (where .Parent.Sections ".Params.notinmenu" "ne" true ) ) }}
         {{ if eq . $curPage }}
           <!-- We're the last section in parent's sections, so we're a leaf section -->
           <!-- Find next sibling of our parent -->
           {{ if .Parent.Parent }}
             {{ .Parent.Scratch.Set "lnfpCurPage" .Parent }}
             {{ partial "sidebar/local-nav/generate/findnextsection"  .Parent }}
           {{ else }}
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
           {{ end }}
         {{ else }}
           <!-- Let's find the next sibling section in our parent -->
           {{ $curPage.Scratch.Set "lnfpCurPage" $curPage }}
           {{ partial "sidebar/local-nav/generate/findnextsection"  $curPage }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
{{ end }}
{{ $curPage.Scratch.Delete "lnfpNextPage" }}
{{ $curPage.Scratch.Delete "lnfpFoundPage" }}
{{ $curPage.Scratch.Delete "lnfpCurPage" }}
