{{ $curCtx := . }}
{{ $curPage := .Scratch.Get "lnfpCurPage" }}
{{ $curPage.Scratch.Set "lnfpNextPage" nil }}
{{ $curPage.Scratch.Set "lnfpFoundPage" false }}
<!-- Let's find the next section in our parent -->
{{ if .Parent }}
  {{ range (where .Parent.Sections ".Params.notinmenu" "ne" true) }}
    {{ if eq . $curPage }}
      {{ $curPage.Scratch.Set "lnfpFoundPage" true }}
    {{ else if and ($curPage.Scratch.Get "lnfpFoundPage") (eq ($curPage.Scratch.Get "lnfpNextPage") nil) }}
      {{ $curPage.Scratch.Set "lnfpNextPage" . }}
    {{ end }}
  {{ end }}
  {{ if (.Scratch.Get "lnfpFoundPage") }}
    {{ if (.Scratch.Get "lnfpNextPage") }}
      <a href="{{ (.Scratch.Get "lnfpNextPage").RelPermalink }}">Next</a>
      <!-- No more sections in our parent so try parent's parent -->
    {{ else if .Parent }}
      {{ .Parent.Scratch.Set "lnfpCurPage" .Parent }}
      {{ partial "sidebar/local-nav/generate/findnextsectionleaf" .Parent }}
    {{ end }}
  {{ else }}
    {{ .Parent.Scratch.Set "lnfpCurPage" .Parent }}
    {{ partial "sidebar/local-nav/generate/findnextsectionleaf" .Parent }}
  {{ end }}
{{ else }}
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
{{ end }}
{{ $curPage.Scratch.Delete "lnfpNextPage" }}
{{ $curPage.Scratch.Delete "lnfpFoundPage" }}
{{ $curPage.Scratch.Delete "lnfpCurPage" }}
