@import 'custom-properties.css';

@media  screen {
  .Homepage {
    & .Main {
      flex: 1 1 100%;
      display: inline-flex;
      align-content: space-between;
      justtify-content: space-between;
      flex-flow: row wrap;
      position: static;
      top: 0;
      margin-top: .4em;
 
      & .Title {
        flex: 1 1 100%;
        border-radius: 8px;
        margin-left: 15%;
        width: initial;
      }
   
      & .TaglinesSpacingBefore,
      & .TaglinesSpacingAfter {
        flex: 1 1 17%;
        display: block;
        width: initial;
      }
  
      & .Taglines {
        flex: 1 1 60%;
        display: flex;
        align-content: flex-start;
        justtify-content: space-between;
        flex-flow: row wrap;
        padding-top: .5em;
        padding-bottom: .5em;
        width: auto;
  
        & .OnelinerSpacingBefore {
          flex: 1 1 10%;
          width: auto;
        }
  
        & .OnelinerSpacingAfter {
          flex: 1 1 10%;
          width: auto;
        }
  
        & .Oneliner {
          flex: 1 1 79%;
          width: auto;
          padding-top: 0;
          padding-bottom: 0;
          margin-top: 0;
          margin-bottom: 0;
        }
  
        & .SublinerSpacingBefore,
        & .SublinerSpacingAfter {
          flex: 1 1 5%;
          width: auto;
        }
  
        & .Subliner {
          flex: 1 1 89%;
          width: auto;
          margin-bottom: 0;
        }
  
        & .EnterButtonSpacingBefore,
        & .EnterButtonSpacingAfter {
          flex: 1 1 0;
           display: inline-block;
           width: auto;
        }
  
        & .EnterButton {
          flex: 0 0 6em;
          display: inline-block;
          text-align: center;
          border: 2px solid;
          padding: .5em;
          border-radius: 8px;
          width: auto;
        }
      }
    }

    & .Aside {
      flex: 1 1 100%;
    }

    & .Splash {
      flex: 1 1 100%;
      display: inline-flex;
      align-items: center;

      & .ScreenshotList {
        flex: 1 1 100%;
        display: inline-flex;
        justify-content: center;

        & li {
          align-content: center; 
          display: inline-block;
          box-shadow: 3px 3px 3px #777;

          & .Screenshot {
            display: block; 
          }
        }

        & li:nth-child(1) {
          transform: rotate(-3deg);
        }
        & li:nth-child(even) {
          transform: rotate(5deg);
        }
      }
    }

    & .AsideFooter {
      flex: 1 1 100%;
    }

    & .Footer {
      position: static;
      top: 0;
    }
  }
}

@media screen and (min-width: 28em) {
  .Homepage .SiteId {
    font-size: 1em;
  }
}
