<ul class="ScreenshotList">
  <li><a href="{{ "/siteentry/rock-garden-description" | relURL }}"><img class="Screenshot" alt="[Photo of a rock garden in bloom, slightly rotated left with a whie border]" src="{{ "/splash-demo-image1.jpg" | relURL }}" /></a></li>
  <li><a href="{{ "/siteentry/grain-elevator-mural-description" | relURL }}"><img class="Screenshot" alt="[Photo of a large outdoor mural on a grain elevator, seen through trees and hydro wires]" src="{{ "/splash-demo-image2.jpg" | relURL }}" /></a></li>
  <li><a href="{{ "/siteentry/thecshore-homepage-description" | relURL }}"><img class="Screenshot" alt="[The C Shore Website Screenshot]" src="{{ "/splash-demo-image3.jpg" | relURL }}" /></a></li>
  <li><a href="{{ "/siteentry/thecshore-about-page-description" }}"><img class="Screenshot" alt="[The C Shore About Page Screenshot]" src="{{ "/splash-demo-image4.jpg" | relURL }}" /></a></li>
</ul>
