<ul class="ScreenshotList">
  <li><img class="Screenshot" alt="[Photo of a rock garden in bloom, slightly rotated left with a whie border]" longdesc="{{ "/siteentry/rock-garden-description" | relURL }}"  src="{{ "/splash-demo-image1.jpg" | relURL }}" /></li>
  <li><img class="Screenshot" alt="[Photo of a large outdoor mural on a grain elevator, seen through trees and hydro wires]" longdesc="{{ "/siteentry/grain-elevator-mural-description" | relURL }}" src="{{ "/splash-demo-image2.jpg" | relURL }}" /></li>
  <li><img class="Screenshot" alt="[The C Shore Website Screenshot]" longdesc="{{ "/siteentry/thecshore-homepage-description" | relURL}}" src="{{ "/splash-demo-image3.jpg" | relURL }}" /></li>
  <li><img class="Screenshot" alt="[The C Shore About Page Screenshot]" longdesc="{{ "/siteentry/thecshore-about-page-description" | relURL }}" src="{{ "/splash-demo-image4.jpg" | relURL }}" /></li>
</ul>
