$sans-font-stack: {{ default "Lucida Sans Unicode, Lucida Granda, sans-serif" ( .Param "sans_font_stack" ) }};
$mono-font-stack: {{ default "Lucida Console, Monaco, monospace" ( .Param "mono_font_stack" ) }};

$default-background-color: {{ default "#bbb" ( .Param "default_background_color" ) }};
{{ if .Param "default_background_image" }}$default-background-image: {{ .Param "default_background_image" }};{{ else  }}$default-background-image: '';{{ end }}
$default-pre-background-color: {{ default "#777" ( .Param "default_pre_background_color" ) }};
$default-hover-background-color: {{ default "#888" ( .Param "default_hover_background_color" ) }};
$default-container-background-color: {{ default "#aaa" ( .Param "default_container_background_color" ) }};

$default-text-color: {{ default "#000020" ( .Param "default_text_color" ) }};
$default-link-color: {{ default "#00f" ( .Param "default_link_color" ) }};
$default-visited-link-color: {{ default "#727" ( .Param "default_visited_link_color" ) }};
$default-hover-color: {{ default "#f00" ( .Param "default_hover_color" ) }};

$default-separator-color: {{ default "#808080" ( .Param "default_separator_color" ) }};
$default-container-border: {{ default "4px solid" ( .Param "default_container_border" ) }};
$default-container-border-color: {{ default "#000" ( .Param "default_container_border_color" ) }};

$doc-date-background-color: {{ default "$default-container-background-color" ( .Param "doc_date_background_color" ) }};
