.SidebarSitemap {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
  & h2 {
    font-size: 1em;
     margin-bottom: .2em;
     display: block;
  }
  & .SitemapList {
    padding: 0;
    margin: 0;
    list-style: none outside;
    & > .MenuItem {
      margin-top: .2em;
      list-style: none outside;
      text-align: left;
      margin-left: 0em;
      margin-right: 0em;
      margin-top: 0em;
      margin-bottom: .2em;
      padding: 0;
      & .MenuEntryWrapper {
        padding-left: 12px;
      }
      & > .MenuParent {
        list-style: none outside;
        padding: 0;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: .2em;
        margin-bottom: 0em;
        & .MenuEntryWrapper {
          width: 80%;
        }
        & > .MenuItem {
          list-style: none outside;
          padding: 0;
          margin-left: 0em;
          margin-right: 0em;
          margin-bottom: .2em;
          margin-top: 0em;
          & > .MenuParent {
            display: none;
            padding: 0;
            margin-left: 0em;
            margin-right: 0em;
            margin-top: .2em;
            width: 60%;
            & > .MenuItem {
              list-style: none outside;
              padding: 0;
              margin-left: 0em;
              margin-right: 0em;
              margin-bottom: .2em;
            }
            & > .MenuParent {
              display: none;
            }
          }
        }
      }
    }
  }
  & .HasSubmenu {
    display: block;
    list-style: none inside;
    padding-left: 0;
    padding-right: 2em;
    & .MenuItem {
      display: block;
      padding-left: 0;
      padding-right: 2em;
      & .MenuEntryWrapper {
        padding-left: 12px;
        & .MenuEntry {
          display: block;
          & a {
            display: block;
          }
        }
      }
    }
  }
}
