<div aria-label="License information" class="license-block">
  <div class="page-license"><span class="label">Copyright</span> {{default .Site.Params.copyright .Page.Params.copyright}},
  <span class="label">License</span>: {{ partial "footer/colophon/license/page.html" . }}</div>
  <div class="site-license"><span class="label">Site (Collection) Copyright</span> {{default .Site.Params.copyright }},
  <span class="label">Site (Collection) License</span>{{ partial "footer/colophon/license/site.html" . }}</div>
</div>
