{{/* Footer Colophon for OldNew Mashup Theme */}}
<div aria-label="Publishing information (colophon)" class="colophon">
  {{ block "license" . }}
    {{ if not (or .Site.Params.nolicense .Params.nolicense) }}
      {{ partial "footer/colophon/license" . }}
    {{ end }}
  {{ end }}
  {{ block "docdate" . }}
    {{ if not (or .Site.Params.nodocdate .Params.nodocdate) }}
      {{ partial "footer/colophon/doc-date" . }}
    {{ end }}
  {{ end }}
</div>
{{/* end Footer Colophon for OldNew Mashup Theme */}}
