{{ define "title" }}
  {{.Title}}
{{ end }}
{{ define "bodytag" }}
  <body>
{{ end }}
{{ define "header" }}
  <div class="HomeBodyWrapper">
  {{ partial "header" . }}
{{ end }}
{{ define "main" }}
    <main class="Main">
      <section class="LeftSidebar">
        {{ partial "sitemenu" . }}
      </section>
      <article class="MainContent">
        {{ .Content }}
      </article>
      <section class="RightSidebar">
       <h1 class="SidebarTitle">Recent Changes</h1>
       {{ range first 5 .Site.Pages }}
         {{ .Render "summary" }}
       {{end }}
      <section>
    </main>
{{ end }}
