/*
  The C Shore default colour settings for default template elements
  Copyright 2007-2009,2017 Daniel F. Dickinson <thecshore@thecshore.cshore.com>
*/

//  This file is free software; you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation; either version 2 of the License, or
//  (at your option) any later version.

//  This file is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.

//  You should have received a copy of the GNU General Public License along
//  with this file, if not, write to the Free Software Foundation,
//  Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

// Contains the default colour and font definitions for
// the default template.

// For different colour and font definitions used to enhance
// accessibility, see high_contrast, large_print, and large_font, and larger
// CSS files

// For the fine print
DIV.fineprintfooter {
  border-top-color : #dddddd; // light grey horizontal rule
  color : #5588e0; // lighter blue for fine print (copyright etc)
}

.webgendate {
  color : #6688bb; // lighter blue for fine print (copyright etc)
}

DIV.fineprintfooter A:link {
  color : #7777dd; // lighter than pure plue for fine print unvisited links
  text-decoration: underline;
}

DIV.fineprintfooter A:Active {
  color : #ff0000; // red font (hover/active links)
  background-color : #dddddd; // gray background
  text-decoration: underline;
}

DIV.fineprintfooter A:Visited {
  color : #9988dd; // lighter purple for fine print visited links
  text-decoration: underline;
}

DIV.fineprintfooter A:Hover {
  color : #ff0000; // red font (hover/active links)
  background-color : #dddddd; // gray background
  text-decoration: underline;
}

DIV.fineprintfooter {
  font-size : smaller;
}

DIV.styleselector {
  font-size : larger;
}

TABLE.scripttable THEAD TH {
  background-color : #000080;
  color : #99ccff;
}

TABLE.scripttable TR {
  background-color : #99ccff;
}

TABLE.rowtable TR {
  background-color : #99ccff;
}

TABLE.rowtable THEAD TH {
  background-color : #000080;
  color : #99ccff;
}

.error {
  color : #ff0000;
}

// New CSS
DIV.wrapper-utility {
  background-color : #6699cc;
  // medium blue background (boxes)
  border-color : #88aadd; // light blue
}

UL.nav-menu-list {
  border-color : #88aadd; // light blue
}

UL.nav-menu-list LI {
  border-color : #88aadd; // light blue
}

UL.nav-menu-list LI > A {
  text-decoration: none;
}

UL.nav-menu-list LI UL {
  border-color : #88aadd; // light blue
}

UL.nav-menu-list LI UL LI {
  border-color : #88aadd; // light blue
}

DIV.wrapper-nav-menubar {
  border-color : #88aadd; // light blue
}

DIV.wrapper-nav-menubar UL {
  border-color : #88aadd; // light blue
}

DIV.wrapper-nav-menubar LI {
  border-color : #88aadd; // light blue
}

H1.content-title {
  font-size : 1.8em;
  font-family: serif;
  font-weight: bold;
  color: #000000; // pure black
  text-align: center;
  word-wrap: break-word;
}

P.content-subtitle {
  font-size: 1.2em;
  font-family: serif;
  font-style: italic;
  color: #000000; // pure black
  text-align: center;
}

#section-title {
  font-size : 1.6em;
  font-family: serif;
  font-weight: bold;
}

#section-subtitle {
  font-size : 1.2em;
  font-family: serif;
  font-weight: bold;
}

DIV.utility-breadcrumb-trail {
  background-color : #6699cc;
}

SPAN.utility-breadcrumb-intro {
  font-weight: bold;
}

// styling the menu

//DIV.wrapper-nav-menubar {
//  background-color : #6699cc;
//}

DIV.wrapper-nav-menubar > UL UL {
  background-color : #6699cc;
}

DIV.wrapper-nav-menubar LI {
  background-color : #6699cc;
}

DIV.wrapper-nav-menubar LI > A:link {
  background-color : #6699cc;
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI > A:Visited {
  background-color : #6699cc;
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI > A:hover {
  background-color : #5588bb;
  color: #88aaee;
  border-color : #88aadd; // light blue
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI > A:active {
  background-color : #5588bb;
  color: #88aaee;
  border-color : #88aadd; // light blue
  text-decoration: none;
}

LI.nav-menu-selected {
  color : #6699cc;
  background-color : #000080;
}

LI.nav-menu-selected > A:link {
  color : #6699cc;
  background-color : #000080;
  text-decoration: none;
}

LI.nav-menu-selected > A:visited {
  color : #6699cc;
  background-color : #000080;
  text-decoration: none;
}

LI.nav-menu-selected > A:active {
  color : #aa99cc;
  background-color : #000080;
  border-color : #88aadd; // light blue
  text-decoration: none;
}

LI.nav-menu-selected > A:hover {
  color : #aa99cc;
  background-color : #000080;
  border-color : #88aadd; // light blue
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI.nav-menubar-selected {
  background-color : #000080;
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI.nav-menubar-selected > A:Link {
  background-color : #000080;
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI.nav-menubar-selected > A:Visited {
  background-color : #000080;
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI.nav-menubar-selected UL LI > A:Link {
  background-color : #000080;
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI.nav-menubar-selected UL LI > A:Visited {
  background-color : #000080;
  text-decoration: none;
}

LI.nav-menu-is-ancestor > A:link {
  color : #6699cc;
  background-color : #000080;
  text-decoration: none;
}

LI.nav-menu-is-ancestor > A:visited {
  color : #7744aa;
  background-color : #000080;
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI.nav-menubar-is-ancestor > A:link {
  color : #6699cc;
  background-color : #000080;
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI.nav-menubar-is-ancestor > A:visited {
  color : #7744aa;
  background-color : #000080;
  text-decoration: none;
}

LI.nav-menu-is-ancestor > A:active {
  color : #aa99cc;
  background-color : #000080;
  text-decoration: none;
}

LI.nav-menu-is-ancestor > A:hover {
  color : #aa99cc;
  background-color : #000080;
  border-color : #88aadd; // light blue
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI.nav-menubar-is-ancestor > A:active {
  color : #aa99cc;
  background-color : #000080;
  text-decoration: none;
}

DIV.wrapper-nav-menubar LI.nav-menubar-is-ancestor > A:hover {
  color : #aa99cc;
  background-color : #000080;
  border-color : #88aadd; // light blue
  text-decoration: none;
}

DIV.wrapper-notice {
  background-color: #5577bb;
  color: #113388;
}

DIV.GH-profile-badge A {
   text-decoration: none;
}

.utility-nav-accesskey-links {
  visibility: hidden;
}
