  <footer class="Footer">
    <hr class="FooterSeparator" />
    <div class="RollupHoversite">Hover or click here for copyright, licensing, and other document information.</div>
    <div class="RollupBlock">
      <ul>
        <li><label class="Label">Copyright</label>: {{.Page.Params.copyright}}</li>
        <li><label class="Label">License</label>: {{.Page.Params.license}}</li>
        <li><label class="Label">Content created</label>: {{ .Date.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</li>
        <li><label class="Label">Content last modified</label>: {{ .Lastmod.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</li>
        <li><label class="Label">Full page last generated</label>: {{ now.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</li>
      </ul>
    </div>
  </footer>
