{{ block "metadata" . }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
{{ end }}
{{ block "links" . }}
    <base href="{{ $.Site.BaseURL }}">
    <link rel="stylesheet" href="{{ "/css/default.css" | relURL}}"/>
    <link rel="stylesheet" href="{{ "/css/base-modern.css" | relURL}}"/>
    {{ "<!--[if lt IE 9]>" | safeHTML }}
      <link rel="stylesheet" href="{{ "/css/base-ie8.css" | relURL}}"/>
    {{ "<![endif]-->" | safeHTML }}
{{ end }}
{{ block "scripts" . }}
    <script src="{{ "/js/all.js"|relURL }}"></script>
{{ end }}
