<header>
  <nav class="utility-nav-skipto-anchor">
    <a id="skipto-top" title="Top" class="utility-skipto-anchor">
        &nbsp;
    </a>
  </nav>{{ partial "nav-skipto-links.html" }}
  <div class="wrapper-section wrapper-box wrapper-utility" id="section-visual-id">
     <a href="{{ relref . "/" }}">{{ partial "site-id-graphics.html" . }}</a>
     <div>{{.Site.Params.siteid}}</div>
  </div>
  <nav class="utility-nav-skipto-anchor">
    <a id="skipto-menubar" title="Menubar" class="utility-skipto-anchor">
         &nbsp;
    </a>
  </nav>{{ partial "nav-skipto-links.html" }}
</header>
