<header class="pure pure-g wrapper-topbar">
   <nav class="utility-nav-skipto-anchor">
     <a id="skipto-top" title="Top" class="utility-nav-skipto-anchor">
       &nbsp;
     </a>
  </nav>{{ partial "nav-skipto-links.html" }}
  <div class="pure-u-1 pure-u-sm-1-3">
    <div class="pure-g">
      <div><div class="image-row"><a href="{{ "/" | relURL }}">{{ partial "site-id-graphics.html" . }}</a></div></div>
      <div class="wrapper-siteid">
        <div class="siteid">{{.Site.Params.siteid}}</div>
      </div>
    </div>
  </div>
  <nav class="utility-nav-skipto-anchor">
    <a id="skipto-menubar" title="Menubar" class="utility-nav-skipto-anchor">
     &nbsp;
   </a>
  </nav>{{ partial "nav-skipto-links.html" }}
  <nav class="pure-u-1 pure-u-sm-2-3">
   <div class="wrapper-menubar">
      [Placeholder]
  </div>
  </nav>
</header>
