{{ $curPage := .Page.Scratch.Get "curPage" }}
{{ $children := where .Children ".Page" "ne" nil }}
{{ range $children }}
  {{ $matched := $curPage.Scratch.Get "match" }}
  {{ if ne $matched 2 }}
    {{ if eq $curPage .Page }}
      {{ $curPage.Scratch.Set "match" 2 }}
    {{ end }}
  {{ end }}
  {{ $matched := $curPage.Scratch.Get "match" }}
  {{ if eq $matched 0 }}
    {{ $curPage.Scratch.Set "prevPage" .Page }}
    {{ if .HasChildren }}
      {{ .Page.Scratch.Set "curPage" $curPage }}
      {{ partial "localnav-prevchild" . }}
    {{ end }}
  {{ end }}
{{ end }}
