{{ if not (.Scratch.Get "lnfpCurPage") }}
  {{ .Scratch.Set "lnfpCurPage" . }}
{{ end }}
{{ $curPage := .Scratch.Get "lnfpCurPage" }}
{{ $curPage.Scratch.Set "lnfpNextPage" nil }}
{{ $curPage.Scratch.Set "lnfpFoundPage" false }}
{{ $curPage.Scratch.Set "lnfpFinalFoundPage" false }}
{{ $curPage.Scratch.Set "lnfpFinalNextPage" nil }}
{{ if or (.Sections) (.Data.Pages) }}
  {{ range (slice (.Sections) (.Data.Pages)) }}
    {{ if and . (ne (delimit . "" ) "") }}
      {{ $curPage.Scratch.Set "lnfpNextPage" nil }}
      {{ $curPage.Scratch.Set "lnfpFoundPage" false }}
      {{ range . }}
        {{ $curPageNode := . }}
        {{ with $curPage }}
          {{ if eq . $curPageNode }}
            {{ .Scratch.Set "lnfpFoundPage" true }}
          {{ else if and (.Scratch.Get "lnfpFoundPage") (not (.Scratch.Get "lnfpNextPage")) }}
            {{ .Scratch.Set "lnfpNextPage" $curPageNode }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ $foundPage := ($curPage.Scratch.Get "lnfpFoundPage") }}
      {{ if and $foundPage ($curPage.Scratch.Get "lnfpNextPage") }}
        {{ $curPage.Scratch.Set "lnfpFinalFoundPage" true }}
        {{ $curPage.Scratch.Set "lnfpFinalNextPage" ($curPage.Scratch.Get "lnfpNextPage") }}
      {{ else }}
        {{ $curPage.Scratch.Set "lnfpFinalFoundPage" true }}
      {{ end }}
      {{ $curPage.Scratch.Delete "lnfpFoundPage" }}
      {{ $curPage.Scratch.Delete "lnfpNextPage" }}
    {{ end }}
  {{ end }}
  {{ $foundPage := ($curPage.Scratch.Get "lnfpFinalFoundPage") }}
  {{ if and $foundPage (not $curPage.IsPage) }}
    {{ if $curPage.Sections }}
      {{ range (last 1 $curPage.Sections) }}
        <a href="{{ .URL }}">Next</a>
      {{ end }}
    {{ else if $curPage.Data.Pages }}
      {{ range (first 1 $curPage.Data.Pages) }}
       <a href="{{ .URL }}">Next</a>
      {{ end }}
    {{ else if ($curPage.Scratch.Get "lnfpFinalNextPage") }}
      {{ $nextPage := $curPage.Scratch.Get "lnfpFinalNextPage" }}
      {{ if not $nextPage }}
Next
      {{ else }}
         <a href ="{{ $nextPage.URL | relURL }}">Next</a>
      {{ end }}
    {{ end }}
  {{ else if $foundPage }}
    {{ if ($curPage.Scratch.Get "lnfpFinalNextPage") }}
      {{ $nextPage := $curPage.Scratch.Get "lnfpFinalNextPage" }}
      {{ if not $nextPage }}
Next
      {{ else }}
         <a href ="{{ $nextPage.URL | relURL }}">Next</a>
      {{ end }}
    {{ end }}
  {{ else }}
    {{ if $curPage.Parent }}
      {{ if $curPage.Parent.Parent }}
        {{ $curPage.Parent.Scratch.Set "lnfpCurPage" $curPage.Parent }}
        {{ $curPage.Parent.Scratch.Set "lnfpCurParent" $curPage.Parent.Parent }}
        {{ partial "localnav-findnextsection" $curPage.Parent.Parent }}
      {{ else }}
Next
      {{ end }}
    {{ else }}
Next
    {{ end }}
  {{ end }}
  {{ $curPage.Scratch.Delete "lnfpFinalFoundPage" }}
  {{ $curPage.Scratch.Delete "lnfpFinalNextPage" }}
{{ else }}
Next
{{ end }}
