{{ $curPage := .Scratch.Get "lnfpCurPage" }}
{{ if .Sections }}
  {{ $parentPage := . }}
  {{ $parentPage.Scratch.Set "lnfpPrevPage" nil }}
  {{ range .Sections }}
    {{ $parentPage.Scratch.Set "lnfPrevPage" . }}
    {{ if eq $parentPage . }}
      {{ if ($parentPage.Scratch.Get "prevPage") }}
        {{ ($parentPage.Scratch.Get "prevPage").URL | relURL }}
      {{ else }}
         <a href="{{ $parentPage.URL | relURL }}">Prev</a>
      {{ end }}
      {{ $parentPage.Scratch.Set "lnfpPrevPage" $parentPage }}
    {{ end }}
  {{ end }}
  {{ $newParentPage := $parentPage.Scratch.Get "lnfpPrevPage" }}
  {{ if not $newParentPage }}
    {{ range (last 1 .Sections) }}
      {{ $newParentPage := . }}
    {{ end }}
  {{ end }}
  {{ partial "localnav-findlastinsection" . }}
{{ else if .Data.Pages }}
  {{ range (last 1 .Data.Pages) }}
    <a href="{{ .URL | relURL }}">Prev</a>
  {{ end }}
{{ else }}
  <a href="{{ .URL | relURL }}">Prev</a>
{{ end }}
