{{ $curPage := . }}
{{ $curPage.Scratch.Set "lnfpNextPage" nil }}
{{ $curPage.Scratch.Set "lnfpFoundPage" false }}
{{ $curPage.Scratch.Set "lnfpFinalFoundPage" false }}
{{ $curPage.Scratch.Set "lnfpFinalNextPage" nil }}
{{ $curPage.Scratch.Set "lnfpCurPage" . }}
{{ if .PrevInSection }}
  <a href="{{ .PrevInSection.URL | relURL }}">Next</a>
{{ else if not .IsPage }}
  {{ if .Parent }}
    {{ .Parent.Scratch.Set "lnfpCurPage" . }}
    {{ .Parent.Scratch.Set "lnfpCurParent" .Parent }}
    {{ partial "localnav-findnextinparent" .Parent }}
  {{ else }}
Next
  {{ end }}
{{ else }}
 {{ if .Parent }}
   {{ .Parent.Scratch.Set "lnfpCurParent" .Parent }}
   {{ .Parent.Scratch.Set "lnfpCurPage" . }}
   {{ .Parent.Scratch.Set "lnfpCurRangeSet" .Parent.Sections }}
   {{ partial "localnav-findnextsection" .Parent }}
 {{ else }}
Next
 {{ end }}
{{ end }}
