{{ $curPage := . }}
{{ $curPage.Scratch.Set "match" 0 }}
{{ $curPage.Scratch.Set "prevPage" nil }}
{{ $curPage.Scratch.Set "prevCPage" nil }}
{{ if .Site.Menus.site }}
  {{ $siteMenus := where .Site.Menus.site "Page" "ne" nil }}
  {{ range $siteMenus }}
    {{ $matched := $curPage.Scratch.Get "match" }}
    {{ if ne $matched 2 }}
      {{ if eq $curPage .Page }}
        {{ $curPage.Scratch.Set "match" 2 }}
      {{ end }}
    {{ end }}
    {{ $matched := $curPage.Scratch.Get "match" }}
    {{ if eq $matched 0 }}
      {{ $curPage.Scratch.Set "prevPage" . }}
      {{ if .HasChildren }}
        {{ .Page.Scratch.Set "curPage" $curPage }}
        {{ partial "localnav-prevchild" . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $matched := $curPage.Scratch.Get "match" }}
  {{ if eq $matched 2 }}
    {{ $prevPage := $curPage.Scratch.Get "prevPage" }}
    {{ if $prevPage.URL }}
      <a href="{{ $prevPage.URL | relURL }}">Prev</a>
    {{ else }}
      Prev
    {{ end }}
  {{ else }}
    {{ if .Parent }}
      {{ partial "localnav-findprevpage" .Parent }}
    {{ else }}
      Prev
    {{ end }}
  {{ end }}
{{ else }}
  NoSiteMenu
{{ end }}
