{{ $curPage := . }}
{{ $curPage.Scratch.Set "match" 0 }}
{{ $curPage.Scratch.Set "prevPage" nil }}
{{ $curPage.Scratch.Set "hasChildren" false }}
{{ if .Site.Menus.site }}
  {{ $siteMenus := where .Site.Menus.site "Page" "ne" nil }}
  {{ range $siteMenus.Reverse }}
    {{ $matched := $curPage.Scratch.Get "match" }}
    {{ if ne $matched 2 }}
      {{ $curPage.Scratch.Set "prevPage" . }}
      {{ if eq $matched 1 }}
         {{ $curPage.Scratch.Set "match" 2 }}
      {{ else }}
         {{ if eq $curPage .Page }}
           {{ $curPage.Scratch.Set "match" 1 }}
         {{ end }}
      {{ end  }}
    {{ else }}
        {{ $prevPage := $curPage.Scratch.Get "prevPage" }}
        {{ if $prevPage.HasChildren }}
           {{ $curPage.Scratch.Set "hasChildren" true }}
        {{ end }}
    {{ end }}
  {{ end }}
  {{ $matched := $curPage.Scratch.Get "match" }}
  {{ if eq $matched 2 }}
    {{ $prevPage := $curPage.Scratch.Get "prevPage" }}
    {{ $hasChildren := $curPage.Scratch.Get "hasChildren" }}
    {{ if $hasChildren }}
      {{ partial "localnav-prevchild" $prevPage.Page }}
    {{ else }}
       <a href="{{ $prevPage.URL | relURL }}">Prev</a>
    {{ end }}
  {{ else }}
    Prev
  {{ end }}
{{ else }}
  NoSiteMenu
{{ end }}
