{{ $currentPage := .Scratch.Get "currentPage" }}
{{ $curItem := . }}
{{ if .IsNode }}
  {{ if .Data.Pages }}
    {{ .Scratch.Set "pageSet_$.UniqueID" (first 1 .Data.Pages) }}
    {{ partial "menupageinset" . }}
    {{ if (.Scratch.Get "isActiveParent") }}
      {{ .Scratch.Set "isActiveParent" true }}
    {{ else }}
      {{ range .Data.Pages }}
        {{ .Scratch.Set "currentPage" $currentPage }}
        {{ partial "menuparents" . }}
        {{ $curItem.Scratch.Set "isActiveParent" (.Scratch.Get "isActiveParent") }}
      {{ end }}
    {{ end }}
  {{ else if .Sections }}
    {{ if not (.Scratch.Get "isActiveParent") }}
      {{ .Scratch.Set "pageSet_$.UniqueID" .Sections }}
      {{ partial "menupageinset" . }}
      {{ if not (.Scratch.Get "isActiveParent") }}
        {{ range .Sections }}
          {{ .Scratch.Set "currentPage" $currentPage }}
          {{ partial "menuparents" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
