      {{ if not (or .Params.norbar .Site.Params.norbar) }}
      <div class="RightSidebar">
        {{ if not (or .Params.nornav .Site.Params.nornav) }}
          {{ partial "localnav-bar" .Page }}
        {{ end }}
        {{ if not (or .Params.nortoc .Site.Params.nortroc) }}
          {{ if and (gt .WordCount 400) (ne .Params.toc "false") }}<section class="TableOfContents">{{ replace .TableOfContents `href="#` (printf `href="%s#` .Permalink) | safeHTML }}</section>{{ end }}
        {{ end }}
        {{ if not (or .Params.normenu .Site.Params.normenu) }}
          {{ partial "sidebar-menu" . }}
        {{ end }}
        {{ $newspages := where .Site.Pages.ByLastmod.Reverse "Type" "news" }}
        {{ if not (or .Params.nornews .Site.Params.nornews) }}
	  {{ if $newspages }}
            <section class="PageSummaries">
              <h2 class="SidebarTitle">News</h2>
                {{ range first 5 $newspages }}
                {{ .Render "summary" }}
                {{ end }}
             </section>
          {{ end }}
        {{ end }}
        {{ $eventpages := where .Site.Pages.ByLastmod.Reverse "Type" "events" }}
        {{ if not (or .Params.norevents .Site.Params.norevents) }}
	  {{ if $eventpages }}
            <section class="PageSummaries">
              <h2 class="SidebarTitle">Events</h2>
                {{ range first 5 $eventpages }}
                {{ .Render "summary" }}
                {{ end }}
             </section>
          {{ end }}
        {{ end }}
        {{ $recentpages := first 5 .Site.Pages.ByLastmod.Reverse }}
        {{ if not (or .Params.norsummary .Site.Params.norsummary) }}
          <section class="PageSummaries">
            <h2 class="SidebarTitle">Recent Changes</h2>
            {{ range $recentpages }}
              {{ .Render "summary" }}
            {{ end }}
          </section>
        {{ end }}
      </div>
      {{ end }}
