<nav class="SitebarSitemap">
<ul class="SitemapList">
{{ $currentPage := . }}{{ range .Site.Menus.site }}{{ if .Page }}{{ .Page.Scratch.Set "currentPage" $currentPage }}{{ .Page.Scratch.Set "maxLevel" 4 }}{{ .Page.Scratch.Set "prevLevel" 1 }}{{ if .HasChildren }}{{ partial "subsitemenu" . }}{{ else }}<li class="{{ if $currentPage.IsMenuCurrent "site" . }}MenuActive {{ end }}MenuItem">
  <a title="{{ .Title }}" href="{{ .URL | relURL }}">
    {{ .Pre }}
    <span class="MenuEntryName">{{ .Name }}</span>
    {{ .Post }}
  </a>
</li>{{ end }}{{ else }}{{ if .HasChildren }}{{ partial "subsitemenu" . }}{{ else }}<li class="MenuItem">
  <a title="{{ .Title }}" href="{{ .URL | relURL }}">
    {{ .Pre }}
    <span class="MenuEntryName">{{ .Name }}</span>
    {{ .Post }}
</a>
</li>{{ end }}{{ end }}{{ end }}</ul></nav>
