{{ $basePage := .Scratch.Get "BasePage" }}
{{ $hasSubmenu := .Scratch.Get "hasSubmenu" }}
<li class="MenuItem {{ if $hasSubmenu }}MenuParent{{ end }}">
  <div class="{{ if (eq $basePage . ) }}CurrentPage {{ end }}">
    <a title="{{ if .Title }}{{ .Title }}{{ else }}{{ $.Site.Title }}{{ end }}" href="{{ .RelPermalink }}">
      <span class="MenuEntryName">{{ if  .Name }}{{ .Name }}{{ else }}Home{{ end }}</span>
    </a>
  </div>
{{ if (not $hasSubmenu) }}
  </li>
{{ else }}
  <ul class="MenuSubmenu">
{{ end }}
