{{ define "title" }}
  404 Resource  not found
{{ end }}
{{ define "bodytag" }}
  <body>
<!-- Copyright 2018 Daniel F. Dickinson <cshored@thecshore.com
     Release under the Create Commons BY (Attribution) 4.0 License -->
{{ end }}
{{ define "main" }}
    <div class="four-oh-four">
      <main class="main">
        <h1 class="title">404 Resource not found</h1>
        <article class="not-found-box">
          <div class="not-found-block">
            {{ print "It seems we can't find that for which you are looking... :disappointed:" | emojify | markdownify }}
          </div>
          <div class="search-to-find-block">
            <form class="search-form-404" action="{{ "/siteentry/search" | relURL }}">
              <label for="search-query-404">Search to find it:</label> <input id="search-query-404" aria-label="Search box" type="search" name="s" size="2" /><input id="search-button-404" type="submit" value="Search" size="2" />
            </form>
          </div>
          <div class="browse-to-find-block">
            {{ markdownify "Or you can try to [Browse to find it](/)" }}
          </div>
          <div class="sitemap-to-find-block">
            {{ markdownify "Alternatively, you can [View the Sitemap](/siteentry/sitemap)" }}
          </div>
        </article>
      </main>
    </div>
{{ end }}
