{{ define "title" }}
  {{.Title}}
{{ end }}
{{ define "bodytag" }}
  <body>
{{ end }}
{{ define "header" }}
  <div class="Homepage">
    <header class="Header Topbar">
     <nav class="NavSkiptoAnchor"><a id="skipto-top" title="Top">&nbsp;</a></nav>{{ partial "nav-skipto-links.html" }}
   <div class="SiteBadge">
       <a class="GraphicsRow" href="{{ "/" | relURL }}">{{ partial "site-id-graphics.html" . }}</a><div class="SiteId"><div>{{.Site.Params.siteid}}</div>
       </div>
     </div>
     <nav class="NavSkiptoAnchor">
       <a id="skipto-menubar" title="Menubar" class="utility-nav-skipto-anchor">&nbsp;</a></nav>{{ partial "nav-skipto-links.html" }}
     <nav class="Menubar">[Placeholder]</nav>
    </header>
{{ end }}
{{ define "main" }}
    <main class="Main">
      <h1 class="Title">{{.Page.Title}}</h1>
      <div class="TaglinesSpacingBefore"></div>
      <section class="Taglines">
        <div class="OnelinerSpacingBefore"></div>
        <h2 class="Oneliner">{{.Params.oneliner}}</h2>
        <div class="OnelinerSpacingAfter"></div>
        <div class="SublinerSpacingBefore"></div>
        <h3 class="Subliner">{{.Params.subliner}}</h3>
        <div class="SublinerSpacingAfter"></div>
        <div class="EnterButtonSpacingBefore"></div>
        <a class="EnterButton" href="{{ "/about/index.html" | relURL }}">Enter Site</a>
        <div class="EnterButtonSpacingAfter"></div>
      </section>
      <div class="TaglinesSpacingAfter"></div>
      <aside class="Aside">
        {{ markdownify .Params.aside}}
      </aside>
      <section class="Splash">
        {{ partial "splash-screenshots.html" . }}
      </section>
      <aside class="AsideFooter">
        {{ markdownify .Params.asidefooter }}
      </aside>
    </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer.html" . }}
</div>
{{ end }}
