{{ define "title" }}
  {{.Title}}
{{ end }}
{{ define "main" }}
<main class="Main">
  <h1 class="Title">{{.Title}}</h1>
  <article class="LicenseArticle">
    <section class="LicenseSection">
      <pre class="LicenseBlock">
      {{ $license := .File.TranslationBaseName }}
      {{ $licenseFile := printf "licenses/%s" .File.TranslationBaseName }}
      {{ if fileExists $licenseFile }}
        {{ readFile $licenseFile }}
      {{ else }}
        {{ printf "themes/%s/%s" "oldnew-mashup" $licenseFile | readFile }}
      {{ end }}
      </pre>
    </section>
  </article>
</main>
{{ end }}
