body {
  // People seem to like sans-serif better than serif
  // so use a good looking default
  font-family: $sans-font-stack;
}

// PRE is block-level so can safely be done as a box, others may be inline
pre,
samp {
  border: dashed 1px;
  font-family: $mono-font-stack;
}

kbd,
var,
code {
  font-family: $mono-font-stack;
}

ABBR,
DFN {
  border-bottom: 1px dotted;
  cursor: help;
}

UL {
  & LI {
    padding-bottom: 3px;
  }
}

html {
  font-size: 16px;
}

label,
.label {
  font-weight: bold;
}

figure {
  display: inline-block;
}

code,
var,
samp {
  width: 100%;
}

@media not speech {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 28em) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 36em) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 48em) {
  html {
    font-size: 19px;
  }
}

@media screen and (min-width: 56em) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 64em) {
  html {
    font-size: 21px;
  }
}

* {
  box-sizing: border-box;
}
