@mixin normaltextlinks {
  a {
    &:link,
    &:visited,
    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}

@mixin enable-z-index($initial-z-index) {
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: $initial-z-index;
}

@mixin utility-box {
  border: $default-container-border $default-container-border-color;
  padding: .6em;
  text-align: left;
}

@mixin rollup-section-named ($rollup-section-name) {
  & .#{$rollup-section-name}-block {
    @content;
  }
}
