@mixin footer-links {
  & .footer-links {
    @include normaltextlinks;

    border-top: 2px solid $default-separator-color;
    display: flex;
    justify-content: space-between;
    padding: .3em;
    text-align: center;

    span {
      border-left: 2px solid $default-separator-color;
      border-right: 2px solid $default-separator-color;
      display: inline-block;
      padding-left: .2em;
      padding-right: .2em;
    }
  }
}

@mixin license-item {
  & .license-item {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;

    &::after {
      content: ', ';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}

@mixin license-list {
  & .license-list {
    @include license-item;

    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@mixin license-lines {
  & .page-license {
    @include license-list;
  }

  & .site-license {
    @include license-list;
  }
}

@mixin license-block {
  & .license-block {
    @include license-lines;

    display: inline-block;
    font-style: italic;

    & .label {
      font-weight: normal;
    }
  }
}

.footer {
  @include footer-links;

  flex: 1 1 100%;
  font-size: smaller;
  margin-top: .4em;
  order: 999;

  .colophon {
    @include license-block;
    @include rollup-section-named(doc-date) {
      @include utility-box($doc-date-border, $doc-date-border-color, $doc-date-text-color);

      background-color: $doc-date-background-color;
      color: $doc-date-text-color;
    };

    border-top: 2px solid $default-separator-color;
    padding: .3em;
    text-align: left;
  }
}

.colophon {
  & .doc-date-hoversite {
    font-style: italic;
  }

  & .doc-date-block {
    font-style: italic;
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
