.RightSidebar {
  display: inline-block;
  font-size: .9em;
  & .LocalNavBar {
    background-color: #888888;
    width: 100%;
    display: block;
    text-align: center;
    & a,
    & a:link,
    & a:visited,
    & a:active,
    & a:hover,
    & span {
      text-align: center;
      margin: 0;
      padding: 0;
      text-decoration: none;
      display: inline-block;
      width: 30%;
    }
    & a,
    & a:link,
    & a:visited {
      color: #222222;
    }
    & a:active,
    & a:hover {
      background-color: #aaaaaa;
    }
  }
  order: 4;
  flex: 5 1 15%;
  max-width: 25%;
  min-width: 10em;
  margin: 0;
  padding-left: .5em;
  padding-right: .4em;
  padding-top: 0;
  padding-bottom: 0;
  & .TableOfContents {
    background-color: #888888;
    & a,
    & a:link {
      color: #111111;
    }
    & a:active,
    & a:hover {
      background-color: #aaaaaa;
    }
    & .MenuSubmenu {
      color: #000000;
      background-color: #bbbbbb;
    }
  }

  & .PageSummary,
  & .NewsItem {
    & .SummaryFooter,
    & .NewsFooter {
      font-size: .8em;
    }
  }

  & .sidebar-toc {
    & ul {
      list-style: none;
      list-style-position: outside;
      padding-left: .2em;
      margin: 0;
      & ul {
        padding-left: 1em;
      }
    }
    & a {
      text-decoration: none;
    }
    margin-bottom: .4em;
  }

  & .PageSummaries,
    .PageNews {
      margin-top: .8em;
    text-align: left;
    & .SidebarTitle {
      border-top: solid 1px;
      margin-top: .4em;
      font-size: 1em;
    }
    & .NewsItems {
      & .NewsHeader {
        border-top: dashed 1px;
        & h3 {
          margin-top: .4em;
          margin-bottom: 0;
          font-size: .9em;
        }
      }
      & .NewsFooter {
        font-size: .8em;
      }
    }
    & .PageSummary,
    & .NewsItem {
      & div {
        max-width: 100%;
        overflow-x: hidden;
      }
    }
    & .PageSummary {
      & .SummaryHeader {
        & h3 {
          margin-top: .4em;
          margin-bottom: 0;
          font-size: .9em;
        }
      }
      border-top: dashed 1px;
    }
    & .SummaryFooter {
      font-size: .8em;
    }
  }
}

.PageSummaries,
.PageNews {
  background-color: #aaaaaa;
}
